{% load static %}

<div class="toast-container-bg">
    <div class="toast-container">
        <div class="toast custom-toast" data-autohide="false">
            <div class="toast-capper bg-warning"></div>
            <div class="toast-header">
                <h3>Warning!</h3>
                <button type="button" class="close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                <div class="basket-message">
                    <p>{{ message }}</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-4">
                        <img class="w-100" src="{{ MEDIA_URL }}warning-icon.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>