{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% endblock meta %}

    {% block extra_meta %}
    {% endblock extra_meta %}

    {% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% endblock css %}

    {% block extra_css %}
    {% endblock extra_css %}

    {% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    {% endblock js %}

    {% block extra_js %}
    {% endblock %}
    
    <link rel="shortcut icon" href="{{ MEDIA_URL }}favicon.png">
    <title>Thomas Jones - Homeopathy in Reigate {% block extra_title %}{% endblock extra_title %}</title>
</head>

<body>
    <header>
    {% include 'layout/header.html' %}
    {% include 'layout/logo.html' %}
    </header>

    {% if messages %}
    <!-- MESSAGES -->
        {% include 'layout/messages.html' %}         
    <!-- MESSAGES-END -->
    {% endif %}    

    {% if banner %}
    <!-- BANNER -->
        {% include 'layout/banner.html' %}
    <!-- BANNER-END -->
    {% endif %}

    <!--PAGE-NAVBAR-->
    {% block page_navbar %}
    {% endblock page_navbar %}
    <!--PAGE-NAVBAR-END-->

    <!-- MAIN CONTENT -->
    {% block content %} {% endblock content %}
    <!-- MAIN CONTENT-END -->

    <footer>
        {% include 'layout/footer.html' %}
    </footer>

    <!-- JAVASCRIPT -->
    {% block postloadjs %}
    <script src="{% static 'js/scripts.js' %}"></script>
    {% endblock postloadjs %}
    <!-- JAVASCRIPT-END -->

</body>
</html>
