{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="container dark-bg">
    <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-10 col-md-9 col-lg-8 form box">
            <h2 class="text-center">Contact Form</h2>
            <div class="inner-box--grey">
                <form method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button type="submit" value="Submit" class="btn form-btn">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="container">
    <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-10 col-md-9 col-lg-8">
            <h2 class="paragraph-header">Avaliability</h2>
            <p>Many people, having only experienced orthodox medicine, contact me seeking relief from their symptoms but are unwilling to explore the deeper reasons for their problems. In this fast paced modern age immediate solutions are often expected. The healing process does not yield to such demands and unfolds at it's own pace. This process is beyond the control of either myself or those seeking my help and must be respected. I endeavor to take on all cases where it is appropriate for me to do so and will refer people when necessary.</p>
        </div>
    </div>
</section>

{% endblock content %}