// modules/_general.scss

@use "variables" as v;
@use "functions" as f;
@use "media_query_mixins" as q;

/* GENERAL */

html {
    font-size: f.$rem-base;
    scroll-behavior: smooth;
}

body {
    background-image: url('/../../media/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

section {
    padding: f.rem-calc(60 0);
    background-color: v.$primary-bg-color;
}

// h1, h2, h4, th, label {
h1, h2, h4 {
        color: v.$primary-header-color;
}

h1 {
    font-size: f.rem-calc(v.$h1-font-size-xsmall);
    font-weight: 600;
    margin-bottom: f.rem-calc(60);
    text-align: center;
	text-shadow: 2px 2px #000;
    // @include q.respond-above(md) {
    //     font-size: f.rem-calc(v.$h1-font-size-small);
    // }
    // @include q.respond-above(lg) {
    //     font-size: f.rem-calc(v.$h1-font-size-medium);
    // }
    // @include q.respond-above(xl) {
    //     font-size: f.rem-calc(v.$h1-font-size-large);
    // } 
}

h2, .box-message p {
    font-weight: 600;
    font-size: f.rem-calc(v.$h2-font-size-xxsmall);
    margin-bottom: f.rem-calc(20);
    // @include q.respond-above(xs) {
    //     font-size: f.rem-calc(v.$h2-font-size-xsmall);
    // }
    // @include q.respond-above(md) {
    //     font-size: f.rem-calc(v.$h2-font-size-small);
    // }
    // @include q.respond-above(lg) {
    //     font-size: f.rem-calc(v.$h2-font-size-medium);
    // }
    // @include q.respond-above(xl) {
    //     font-size: f.rem-calc(v.$h2-font-size-large);
    // }
}

.paragraph-header {
    color: v.$secondary-header-color;
}

h3 {
    color: v.$tertiary-header-color;
    font-weight: 400;
    font-size: f.rem-calc(v.$h3-font-size-xxsmall);
    margin-bottom: f.rem-calc(20);
    // @include q.respond-above(xs) {
    //     font-size: f.rem-calc(v.$h3-font-size-xsmall);
    // }
    // @include q.respond-above(md) {
    //     font-size: f.rem-calc(v.$h3-font-size-small);
    // }
    // @include q.respond-above(lg) {
    //     font-size: f.rem-calc(v.$h3-font-size-medium);
    // }
    // @include q.respond-above(xl) {
    //     font-size: f.rem-calc(v.$h3-font-size-large);
    // }
}

// h4, th {
h4 {
    font-weight: 400;
    font-size: f.rem-calc(v.$h4-font-size-xxsmall);
    margin-bottom: f.rem-calc(0);
    // @include q.respond-above(xs) {
    //     font-size: f.rem-calc(v.$h4-font-size-xsmall);
    // }
    // @include q.respond-above(md) {
    //     font-size: f.rem-calc(v.$h4-font-size-small);
    // }
    // @include q.respond-above(lg) {
    //     font-size: f.rem-calc(v.$h4-font-size-medium);
    // }
    // @include q.respond-above(xl) {
    //     font-size: f.rem-calc(v.$h4-font-size-large);
    // }
}

// th {
//     padding: f.rem-calc(20);
    // @include q.respond-above(md) {
    //     padding-left: f.rem-calc(20);
    // }
    // @include q.respond-above(lg) {
    //     padding-left: f.rem-calc(20);
    // }
//     &:first-of-type {
//         padding-left: 0;
//     }
// }

// td {
//     padding: f.rem-calc(0 0 20 20);
//     > p, > a, li {
//         color: #76bb85;
//         font-size: f.rem-calc(v.$font-size-xxxsmall);
//         margin: 0;
//     }
    // @include q.respond-above(md) {
    //     padding: f.rem-calc(0 0 30 20);
    //     > p, > a, li {
    //         font-size: f.rem-calc(v.$font-size-xxsmall);
    //     }
    // }
    // @include q.respond-above(lg) {
    //     padding: f.rem-calc(0 0 40 20);
    //     > p, > a, li {
    //         font-size: f.rem-calc(v.$font-size-xxsmall);
    //     }
    // }
//     &:first-of-type {
//         padding-left: 0;
//     }
// }

p {
    color: v.$primary-font-color;
    font-size: f.rem-calc(v.$font-size-xsmall);
    text-align: justify;
    &:last-of-type {
        margin-bottom: 0;
    }
}

// p, label, .fieldset-label, .btn-file {
//     font-size: f.rem-calc(v.$font-size-xsmall);
    // @include q.respond-above(md) {
    //     font-size: f.rem-calc(v.$font-size-small);
    // }
    // @include q.respond-above(lg) {
    //     font-size: f.rem-calc(v.$font-size-medium);
    // }
    // @include q.respond-above(xl) {
    //     font-size: f.rem-calc(v.$font-size-large);
    // }
// }

ul {
    margin: 0;
    padding: 0;
}

a {
	color: v.$primary-link-color;
	text-decoration: none;
	font-size: f.rem-calc(v.$link-font-size-xsmall);
	margin-right: f.rem-calc(10);
	transition: all .25s ease-in-out;
    // @include q.respond-above(md) {
    //     font-size: f.rem-calc(v.$link-font-size-small);
    // }
    // @include q.respond-above(lg) {
    //     font-size: f.rem-calc(v.$link-font-size-medium);
    // }
    // @include q.respond-above(xl) {
    //     font-size: f.rem-calc(v.$link-font-size-large);
    // }
}

a:hover {
	color: v.$primary-link-color-hover;
	text-decoration: none;
}

/* GENERAL-END */
