// modules/_media_queries.scss

@use "variables" as v;
@use "functions" as f;
@use "mixins" as m;
@use "media_query_mixins" as q;


/* MEDIA-QUERIES */

@include q.respond-above(xs) {
    h2, .box-message p {
        font-size: f.rem-calc(v.$h2-font-size-xsmall);
    }
    h3 {
        font-size: f.rem-calc(v.$h3-font-size-xsmall);
    }
    h4, th {
        font-size: f.rem-calc(v.$h4-font-size-xsmall);
    }
    .testimonials-inner > .carousel-item > p {
        width: 90%;
    }
    .colored-list > ul > li {
        font-size: f.rem-calc(v.$list-font-size-xsmall);
    }
    .gallery {
	    padding: f.rem-calc(0 48);
    }
    .carousel-control-prev,
    .carousel-control-next {
        display: block;
        top: 50%;
    }
    .toast-header,
    .toast-body {
        width: 450px;
    }
    .toast-body p {
        font-size: f.rem-calc(v.$font-size-xxsmall);
        margin: f.rem-calc(10 0);
    }
}
// @include q.respond-above(xs) {

@include q.respond-above(sm) {
    .dark-bg {
        background-color: v.$secondary-bg-color;
    }
    .logo-bg {
	    margin-top: f.rem-calc(88);
    }
    .banner > img {
        width: 98%;
    }
    .row:not(:nth-of-type(1)) > .box {
        margin-top: f.rem-calc(50);
    }
    .testimonials {
        padding: f.rem-calc(60 40 76);
    }
    .testimonials-inner > .carousel-item > p {
	    margin: f.rem-calc(30) auto f.rem-calc(20);
        width: 85%;
    }
    .colored-list {
        padding: f.rem-calc(60 40);
        @include m.list-color(v.$list-color-magenta, v.$list-color-red, v.$list-color-yellow, v.$list-color-blue);
         > ul > li {
            font-size: f.rem-calc(v.$list-font-size-small);
        }
    }
    .gallery {
	    padding: f.rem-calc(40 36 56);
    }
    .custom-btn {
        font-size: v.$font-size-xxsmall;
        padding:f.rem-calc(5 12);
    }
    .box {
        background-color: v.$poster-bg-color;
        border-radius: f.rem-calc(6);
    }
    .poster {
        background-color: v.$poster-bg-color;
        border: f.rem-calc(8) solid v.$primary-border-color;
        border-radius: f.rem-calc(6);
        box-shadow: f.rem-calc(5 5 20 2) #000;
        text-shadow: 2px 2px #000;
    }
    .image-box {
        background-color: v.$poster-bg-color;
        border-radius: f.rem-calc(6);
        > img {
            padding: f.rem-calc(40);
        }
    }
    .box-message {
        > div {
            left: 50%;
            transform: translate(-50%, -50%);
            > p {
                margin: f.rem-calc(20 0);
            }
        }
    }
    .basket-item-scroller {
        max-height: 40vh;
    }
    .inner-box--black, .inner-box--grey {
        padding: f.rem-calc(30);
    }
    .navbar-nav:nth-of-type(2) {
        position: absolute;
        right: 0;
    }
    .navbar-dark .navbar-nav .nav-link,
    .navbar-dark .navbar-nav .show > .nav-link {
        padding: f.rem-calc(4);
    }
    .nav-item:nth-of-type(1) {
        margin-top: f.rem-calc(0);
    }
    .search-form .input-group {
        right: 55px;
        top: 0;
        width: 100%;
        .form-control {
            height: 30px;
        }
    }
    .carousel-indicators {
	    bottom: -15%;
        display: flex;
    }
    // .delivery-bg {
	//     background-color: transparent;
    //     margin-top: f.rem-calc(80);
    //     span {
    //         font-size: f.rem-calc(28);
    //     }
    // }
    .toast-header,
    .toast-body {
        width: 550px;
    }
    .toast-body p {
        font-size: f.rem-calc(v.$font-size-medium);
    }
}
// @include q.respond-above(sm) {

@include q.respond-below(sm) {
    .testimonials-inner > .carousel-item > p {
        font-size: f.rem-calc(14);
        text-align: left;
    }
    .secondary-navbar {
        position: fixed;
        top: 52px;
        right: 0;
        .nav-item:nth-of-type(1) {
            margin: f.rem-calc(12 0 16);
        }
    }
    #searchFormButton {
        position: relative;
        left: 50px;
        top: -177px;
    }
    .navbar-nav .dropdown > .dropdown-menu > .dropdown-item {
        padding: 5px;
        text-align: left;
        font-size: f.rem-calc(12);
        background-color: #2b532a;
    }
    .secondary-navbar .dropdown > .dropdown-menu > .dropdown-item {
        position: relative;
        right: 35px;
    }
}
// @include q.respond-below(sm) {

@include q.respond-between(sm, md) {
    .testimonials-inner > .carousel-item > p {
        height: 180px;
    }
}
// @include q.respond-between(sm, md) {

@include q.respond-above(md) {
    h1 {
        font-size: f.rem-calc(v.$h1-font-size-small);
    }
    h2, .box-message p {
        font-size: f.rem-calc(v.$h2-font-size-small);
    }
    h3 {
        font-size: f.rem-calc(v.$h3-font-size-small);
    }
    h4, th {
        font-size: f.rem-calc(v.$h4-font-size-small);
    }
    th {
        padding-left: f.rem-calc(20);
    }
    td {
        padding: f.rem-calc(0 0 30 20);
        > p, > a, li {
            font-size: f.rem-calc(v.$font-size-xxsmall);
        }
    }
    p, label, .fieldset-label, .btn-file {
        font-size: f.rem-calc(v.$font-size-small);
    }
    a {
        font-size: f.rem-calc(v.$link-font-size-small);
    }
    .colored-list > ul > li {
        font-size: f.rem-calc(v.$list-font-size-medium);
    }
    .logo-bg {
	    margin-top: f.rem-calc(120);
    }
    .gallery {
	    padding: f.rem-calc(44 56 60);
    }
    .gallery-inner > .carousel-item > img {
        width: 70%;
    }
    #copyRight {
        font-size: f.rem-calc(v.$font-size-small);
    }
    .form-btn, .shopping-btn {
        font-size: v.$font-size-xsmall;
        padding:f.rem-calc(7 14);
    }
    .navbar-dark .navbar-nav .nav-link,
    .navbar-dark .navbar-nav .show > .nav-link {
        padding: f.rem-calc(15);
    }
    .nav-item > .nav-link {
        font-size: f.rem-calc(v.$link-font-size-small);
    }
    .dropdown-menu {
 	    min-width: 140px;   
    }
    .search-form .input-group {
        right: 70px;
        top: 10px;
        .form-control {
            height: 35px;
        }
    }
    // .delivery-bg {
    //     margin-top: f.rem-calc(104);
    //     span {
    //         font-size: f.rem-calc(36);
    //     }
    // }
    // .basket td {
    //     img {
    //         width: 79px;
    //     }
    //     .sku {
    //         font-size: f.rem-calc(12);
    //     }
    // }
}
// @include q.respond-above(md) {

@include q.respond-above(lg) {
    h1 {
        font-size: f.rem-calc(v.$h1-font-size-medium);
    }
    h2, .box-message p {
        font-size: f.rem-calc(v.$h2-font-size-medium);
    }
    h3 {
        font-size: f.rem-calc(v.$h3-font-size-medium);
    }
    h4, th {
        font-size: f.rem-calc(v.$h4-font-size-medium);
    }
    th {
        padding-left: f.rem-calc(20);
    }
    td {
        padding: f.rem-calc(0 0 40 20);
        > p, > a, li {
            font-size: f.rem-calc(v.$font-size-xxsmall);
        }
    }
    p, label, .fieldset-label, .btn-file {
        font-size: f.rem-calc(v.$font-size-medium);
    }
    a {
        font-size: f.rem-calc(v.$link-font-size-medium);
    }
    .colored-list > ul > li {
        font-size: f.rem-calc(v.$list-font-size-large);
    }
    .logo-bg {
	    margin-top: f.rem-calc(136);
    }
    .gallery {
	    padding: f.rem-calc(60 56 92);
    }
    #copyRight {
        font-size: f.rem-calc(v.$font-size-medium);
    }
    .shopping-btn {
        border-radius: .3rem;
        font-size: v.$font-size-small;
        line-height: 1.5;
        padding:f.rem-calc(8 16);
    }
    .nav-item > .nav-link {
        font-size: f.rem-calc(v.$link-font-size-medium);
    }
    .search-form .input-group {
        right: 75px;
        top: 10px;
        .form-control {
            height: 40px;
        }
    }
    .responsive-cards {
        > .card-body {
            padding: f.rem-calc(30);
            height: 500px;
        }
        > .card-body > p {
            font-size: f.rem-calc(16);
        }
    }
    // .basket {
    //     td img {
    //         width: 100px;
    //     }
    //     .item-quantity-form {
    //         padding: 15% 10%;
    //     }
    // }
    // .update-form {
    //     .qty_input {
    //         height: 50px;
    //     }
    //     .decrement-qty, .increment-qty {
    //         height: 100%;
    //     }
    // }
    // .item-quantity-form {
    //     > .update-link {
    //         top: -10px;
    //     }
    //     > .remove-item {
    //         top: -7px;
    //     }
    // }
}
// @include q.respond-above(lg) {

@include q.respond-above(xl) {
    h1 {
        font-size: f.rem-calc(v.$h1-font-size-large);
    } 
    h2, .box-message p {
        font-size: f.rem-calc(v.$h2-font-size-large);
    }
    h3 {
        font-size: f.rem-calc(v.$h3-font-size-large);
    }
    h4, th {
        font-size: f.rem-calc(v.$h4-font-size-large);
    }
    p, label, .fieldset-label, .btn-file {
        font-size: f.rem-calc(v.$font-size-large);
    }
    a {
        font-size: f.rem-calc(v.$link-font-size-large);
    }
    .gallery {
	    padding: f.rem-calc(60 56 112);
    }
    #copyRight {
        font-size: f.rem-calc(v.$font-size-large);
    }
    .nav-item > .nav-link {
        font-size: f.rem-calc(v.$link-font-size-large);
    }
    .responsive-cards {
        > .card-body {
            height: 570px;
        }
        > .card-body > p {
            font-size: f.rem-calc(18);
        }
    }
    // .basket {
    //     td img {
    //         width: 150px;
    //     }
    //     .item-quantity-form {
    //         padding: 20% 10%;
    //     }
    // }
}
// @include q.respond-above(xl) {

/* MEDIA-QUERIES-END */